.add-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  