<div class="add-user-form">
  <h1>Add</h1>

  <form [formGroup]="userFormGroup" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        matInput
        formControlName="firstName"
        placeholder="Add a First Name"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        formControlName="lastName"
        placeholder="Add a Last Name"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" placeholder="Add age" />
      <mat-hint
        *ngIf="
          userFormGroup.get('age')!.invalid && userFormGroup.get('age')!.touched
        "
        >Only Numbers</mat-hint
      >
    </mat-form-field>
  </form>

  <button
    mat-button
    (click)="addUser()"
    [disabled]="!userFormGroup.valid"
    color="primary"
  >
    Add
  </button>
</div>
